// Project Overlay

.project-overlay {
  display: flex;
  flex-flow: column wrap;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: darken($primary-color, 5);

  opacity: 0.6;
  visibility: visible;

  &.showProject {
    visibility: visible;
  }
}
