@import 'config';
@import 'menu';

* {
  box-sizing: border-box;
}

body {
  @include background();
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 100;
  text-transform: uppercase;

  &.lg-heading {
    font-size: 3rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    color: $secondary-color;
    background: rgba(lighten($primary-color, 2), 0);
    position: relative;
    left: 0.25rem;
    top: -1rem;
  }

  &.sm-heading-2 {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    color: $secondary-color;
    background: rgba(lighten($primary-color, 2), 0);
    position: relative;
    left: -0.5rem;
    top: -1rem;
  }

  &.pg-heading {
    padding: 0.2rem 1rem;
    color: $secondary-color;
    background: rgba(lighten($primary-color, 2), 0);
    position: relative;
    left: -1rem;
    top: -1.75rem;
  }
  &.ov-heading {
    padding: 0.2rem 1rem;
    color: $secondary-color;
    background: rgba(lighten($primary-color, 2), 0);
    position: relative;
    left: -1rem;
    top: -1.75rem;
  }
  &.text-secondary {
    color: $secondary-color;
    font-size: 1.5rem;
  }
}

h4 {
  font-weight: 100;
  font-size: 0.85rem;
  line-height: 1.1rem;
  letter-spacing: 0.07rem;
}

a {
  color: $secondary-color;
  text-decoration: none;

  &:hover {
    color: #fff;
    @include easeOut();
  }
}

p {
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 1.5rem;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-tim {
  position: relative;
  left: 1.25rem;
}

.text-o {
  color: $secondary-color;
  font-size: 106px;
  position: relative;
  top: 0.7rem;
  padding: 2px;
}

.text-thy {
  position: relative;
  left: -1.25rem;
}

main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh - 30px);

  .icons {
    font-size: 0.75rem;
    position: relative;
    left: 1rem;
    top: -2.25rem;

    a {
      padding: 0.4rem;
      color: #fff;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

// ABOUT

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio bio bio';
  grid-template-columns: repeat (4, fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
    position: relative;
    top: -50%;
    transform: translateY(50%);
  }

  .bio {
    grid-area: bio;
    font-size: 1rem;
    background: lighten($primary-color, 5);
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: $secondary-color 5px solid;
  }

  .bio p {
    font-size: 1rem;
    letter-spacing: 0.05rem;
    line-height: 1.25rem;
  }
}

// CV

.cv-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  grid-gap: 5px;

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

.roles {
  color: $secondary-color;
}

.edu {
  margin-top: 4.5rem;
}

// Work/Projects
.projects {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 0;
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;

  &:hover {
    background: $secondary-color;
    color: set-text-color ($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  font-size: 0.85rem;

  color: #fff;
  &:hover {
    color: $secondary-color;
    @include easeOut;
  }
}

// Project Overlay
.project-overlay {
  display: flex;
  flex-flow: column wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 100;
  height: 100vh;
  overflow: scroll;
  margin: 0;
  padding: 0;
  background: darken($primary-color, 0);
  transform: translate3d(0, 100%, 0);
  visibility: hidden;
  @include easeOut;

  &.showProject,
  &.showProjectOne,
  &.showProjectTwo,
  &.showProjectThree,
  &.showProjectFour,
  &.showProjectFive,
  &.showProjectSix,
  &.showProjectSeven,
  &.showProjectEight,
  &.showProjectNine {
    visibility: visible;
  }

  &.showProjectOne,
  &.showProjectTwo,
  &.showProjectThree,
  &.showProjectFour,
  &.showProjectFive,
  &.showProjectSix,
  &.showProjectSeven,
  &.showProjectEight,
  &.showProjectNine {
    // Slide in from top
    transform: translate3d(0, 0, 0);
  }
}

.project-1 {
  &.showPojectOne {
    visibility: visible;
  }

  &.showPojectOne {
    // Slide in from top
    transform: translate3d(0, 0, 0);
  }
}

.project-btn {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 42px;
  right: 100px;
}

.project-line-1,
.project-line-2 {
  position: absolute;
  width: 28px;
  height: 4px;
  top: 12px;
  border-radius: 25%;
  margin: 0 0 3px 0;
  background-color: $secondary-color;
  z-index: 4;
}

.project-line-1 {
  transform: rotate(45deg);
}

.project-line-2 {
  transform: rotate(-45deg);
}

.ov-head {
  margin-bottom: 20px;
}

.logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin-top: 60px;
  width: 100%;

  &.logo {
    min-width: 20%;
  }
}

.project-container {
  width: 100%;
  overflow: scroll;
}

.project-image {
  display: absolute;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

.img-heading {
  color: $secondary-color;
  text-align: center;
}

// Footer
#main-footer {
  text-align: center;
  font-size: 0.75rem;
  padding-top: 1.7rem;
  background: $secondary-color;
  color: #333;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  z-index: 50;
}

@import 'mobile';
